body {
  font-family: "Jost", "Noto Sans JP", sans-serif;
  color: #232323;
  letter-spacing: 160%;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

/* top-linkbutton */
.top-linkbutton {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
}

.buttontext-jp {
  margin-bottom: 8px;
  font-size: 14px;
}

.buttontext-en {
  font-size: 30px;
}

.buttontext-en::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 32px;
  border: 1px solid #232323;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  vertical-align: middle;
  color: #232323;
  line-height: 1;
  transform: translateX(-25%) rotate(45deg);
}

.buttontext-en::before {
  content: "";
  display: none;
  background-color: #232323;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.buttontext-en:hover::after {
  content: "";
  display: inline-block;
  border-bottom: #232323 1px solid;
}
/* main-content */
.content-texarea {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Noto Sans JP", sans-serif;
}

.textarea-title {
  margin-top: 32px;
  font-size: 57px;
  line-height: 160%;
  letter-spacing: 4%;
}

.textarea-text {
  margin-top: 64px;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 2%;
}

/* header-menuここから */
.header {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-menu {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 24px;
  margin-left: auto;
  margin-right: 50px;
  font-size: 18px;
  text-align: center;
}

.header-menu ul {
  display: flex;
  justify-content: right;
}

.header-menu a {
  margin-right: 24px;
  color: #777777;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.header-menu a:hover {
  content: "";
  padding: 2px 16px;
  color: #ffffff;
  background-color: #777777;
}

/* fvここから */
.fv {
  position: relative;
  max-width: 100vw;
  height: 100vh;
  right: auto;
  left: auto;
  overflow: hidden;
}

.fv-mov-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.fv-logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 120px;
  top: 350px;
  right: 600px;
  z-index: 2;
}

/* side-ctaここから */
.side-cta {
  position: absolute;
  z-index: 999;
  display: grid;
  grid-column: 1fr 1fr;
  column-gap: 80px;
  width: 50px;
  height: 210px;
  align-items: center;
  top: 20%;
  right: 50px;
}

.cta-order-text {
  position: fixed;
  display: block;
  padding: 25px 60px;
  color: #fff600;
  font-size: 16px;
  background-color: #777777;
  transform: rotate(-90deg);
}

.cta-order-text::before {
  content: "";
  height: 12px;
  aspect-ratio: cos(30deg);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background: #fff600;
}

.cta-instagram-wh {
  position: fixed;
  display: block;
  width: 45px;
  height: 45px;
}

/* main-content.about-wrapここから */
.print-white {
  display: block;
  width: 310px;
  height: 360px;
  margin-top: 160px;
  margin-left: auto;
  margin-right: 100px;
}

.main-content.about-wrap {
  position: relative;
  margin-top: 340px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.sprash_blue {
  position: absolute;
}
